.header {
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(47, 106, 127);
  top: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}
.header video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  object-fit: cover;
}
.header-container {
  flex-direction: column;
  gap: 70px;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  align-items: start;
  width: 100%;
  z-index: 1;
}
.header-text {
  color: var(--whiteColor);
}
.header-text p {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 500;
}
.header-text h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.header-text h1 span {
  padding-bottom: 5px;
  border-bottom: 3px solid var(--secondaryColor);
}
.header-fileds-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header-fileds {
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding: 40px 30px;
  background: var(--cardBG);
  border-radius: 6px;
}
.header-filed-item {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.header-filed-item label {
  font-size: 14PX;
  color: var(--textColor);
}
.header-filed-item label:last-of-type {
  justify-content: space-between;
}
.header-filed-item input {
  background: var(--inputColor);
  font-size: 16px;
  width: 100%;
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 30px;
}
.input-icon {
  position: relative;
}
.in-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 20px;
  color: var(--textColor);
}
.header-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem;
  gap: 15px;
  color: var(--whiteColor);
}
.header-icons {
  color: var(--cardBG);
  width: 100%;
  justify-content: space-between;
}
.header-icons-left,
.header-icons-right {
  gap: 20px;
  font-size: 23px;
}
.header-icons-left i:hover,
.header-icons-right i:hover {
  color: var(--secondaryColor);
  cursor: pointer;
}