:root {
  --primaryColor: #0073a8;
  --secondaryColor: #10b5cb;
  --gradientColor:  linear-gradient( to right,#10b5cb, #0073a8);
  --whiteColor: #ffffff;
  --blackColor: #1b2d36;
  --textColor: #58585f;
  --whiteColorDeam: #ededed;
  --greyText: #bebebe;
  --inputColor: #efefef;
  --bodyColor: #f0f0f6;
  --cardBG: #ffffeb;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--bodyColor);
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
.section {
  padding: 4rem 1.5rem;
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.icon {
  font-size: 2rem;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  align-items: center;
}
.btn {
  padding: 0.6rem 1.1rem;
  background: var(--gradientColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}
.btn:hover {
  background: var(--secondaryColor);
}
img,
video {
  width: 100%;
  height: auto;
}
input {
  font-size: 100%;
}